<div class="flex flex-col items-center justify-center h-screen bg-gray-300">
  <h1 class="text-4xl font-medium text-gray-700">Counter</h1>

  <span class="m-5 text-3xl">
    0
  </span>
  
  <section> 
    <button class="counter-button">-</button>
    <button class="counter-button">clear</button>
    <button class="counter-button">+</button>
  </section>
</div>
